@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Roboto Bold"),
    url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"), local("Roboto Regular"),
    url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Italic";
  src: local("Roboto Italic"), local("Roboto Italic"),
    url("../assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
