.root::-webkit-scrollbar {
  display: none;
}

.bar {
  background-color: #ffffffcc;
  position: fixed;
  bottom: 10vh;
  width: 0%;
  height: 49px;
  left: 8vw;
  border-radius: 40px;
  display: flex;
  transition: 0.5s;
}

.bar.expand {
  width: 84vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.icon {
  background-color: #ffffffcc;
  opacity: 0;
}
.iconVisible {
  background-color: #ffffffcc;
  opacity: 0;
}
.icon.icon0 {
  animation: fadeIn 0.5s ease-in-out 0.1s forwards;
}

.icon.icon1 {
  animation: fadeIn 0.5s ease-in-out 0.1s forwards;
}
.icon.icon2 {
  animation: fadeIn 0.5s ease-in-out 0.2s forwards;
}
.icon.icon3 {
  animation: fadeIn 0.5s ease-in-out 0.3s forwards;
}
.icon.icon4 {
  animation: fadeIn 0.5s ease-in-out 0.4s forwards;
}
.icon.icon5 {
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}
